## PORTFOLIO.ISMAELHV.COM
server {
  server_name portfolio.ismaelhv.com;
  location / {
    proxy_pass http://localhost:8001;
    proxy_http_version 1.1;
    proxy_set_header Upgrade $http_upgrade;
    proxy_set_header Connection 'upgrade';
    proxy_set_header Host $host;
    proxy_cache_bypass $http_upgrade;
  }
}

## FASTLINK.ISMAELHV.COM
server {
  server_name fastlink.ismaelhv.com;
  location ~ ^/(.*)$ {
    return 301 https://portfolio.ismaelhv.com/Utilitie/FastLink/shortLink/$1;
  }
}